.white-bold{
    color: white;
    font-weight: bold;
    
}

.arial{
    font-family: Arial;
}

.center{
    text-align: center;
}

.border{
    display:inline;
    border: 2px solid white;
    text-align: center;
    padding: 5px;

}

.margin{
    margin-top: 250px;
}

.margin-bottom-top{
    margin-bottom: 30px;
    margin-top: 30px;
}

.font{
    font-size: 100px;
}